<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.blankmediagames.auth" version="1.0.0">
	<name>BMG Authenticator</name>
	<description>Interface to assist in BMG security.</description>
	<author href="http://www.blankmediagames.com/" email="cjbonn2005@hotmail.com">Christopher Bonnell</author>
	<content src="index.html"/>
	<preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait"/>
	<preference name="target-device" value="universal"/>
	<preference name="fullscreen" value="true"/>
	<preference name="webviewbounce" value="true"/>
	<preference name="prerendered-icon" value="true"/>
	<preference name="stay-in-webview" value="false"/>
	<preference name="ios-statusbarstyle" value="black-opaque"/>
	<preference name="detect-data-types" value="true"/>
	<preference name="exit-on-suspend" value="true"/>
	<preference name="show-splash-screen-spinner" value="true"/>
	<preference name="auto-hide-splash-screen" value="true"/>
	<preference name="disable-cursor" value="false"/>
	<preference name="android-minSdkVersion" value="14"/>
	<preference name="android-installLocation" value="auto"/>
	<plugin name="cordova-plugin-device"/>
	<plugin name="cordova-plugin-network-information"/>
	<plugin name="cordova-plugin-splashscreen"/>
	<icon src="www/images/icon.png" />
	<icon src="www/images/icon.png" platform="android" qualifier="ldpi"/>
	<icon src="www/images/icon.png" platform="android" qualifier="mdpi"/>
	<icon src="www/images/icon.png" platform="android" qualifier="hdpi"/>
	<icon src="www/images/icon.png" platform="android" qualifier="xhdpi"/>
	<icon src="www/images/icon.png" platform="blackberry"/>
	<icon src="www/images/icon.png" platform="blackberry" state="hover"/>
	<icon src="www/images/icon.png" platform="ios" width="57" height="57"/>
	<icon src="www/images/icon.png" platform="ios" width="72" height="72"/>
	<icon src="www/images/icon.png" platform="ios" width="114" height="114"/>
	<icon src="www/images/icon.png" platform="ios" width="144" height="144"/>
	<icon src="www/images/icon.png" platform="webos"/>
	<icon src="www/images/icon.png" platform="winphone"/>
	<icon src="www/images/icon.png" platform="winphone" role="background"/>
	<splash src="www/images/splash.png" />
	<splash src="www/images/splash.png" platform="android" qualifier="port-ldpi"/>
	<splash src="www/images/splash.png" platform="android" qualifier="port-mdpi"/>
	<splash src="www/images/splash.png" platform="android" qualifier="port-hdpi"/>
	<splash src="www/images/splash.png" platform="android" qualifier="port-xhdpi"/>
	<splash src="www/images/splash.png" platform="blackberry"/>
	<splash src="www/images/splash.png" platform="ios" width="320" height="480"/>
	<splash src="www/images/splash.png" platform="ios" width="640" height="960"/>
	<splash src="www/images/splash.png" platform="ios" width="640" height="1136"/>
	<splash src="www/images/splash.png" platform="ios" width="768" height="1024"/>
	<splash src="www/images/splash.png" platform="ios" width="1024" height="768"/>
	<splash src="www/images/splash.png" platform="winphone"/>
	<access origin="*"/>
	<plugin name="cordova-plugin-whitelist" version="1"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<platform name="android">
	<allow-intent href="market:*"/>
	</platform>
	<platform name="ios">
	<allow-intent href="itms:*"/>
	<allow-intent href="itms-apps:*"/>
	</platform>
</widget>